
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

body{
    font-family: 'Jost', sans-serif;
    margin: 0;
}
.row{
    display: flex;
}
.container{
    max-width: 1111px;
    margin: 0 auto;
}

.main-header{
    display: none;
}
.big-footer{
    display: none;
}
.main-header .row {
   justify-content: space-between;
   align-items: center;
}
.nav-main:nth-child(1){
    margin-left: 15px;
}
.nav-main__link{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
}
.page-title {
   background-image: url(../img/Group\ 5.svg);
   background-color: #E7816B;
   background-position: right;
   background-repeat: no-repeat;
   border-radius: 15px;
   padding: 32px 0 49px 0 ;
   margin: 10px 0;
   text-align: center;
}
.page-title::after{
    content: '';
    position: absolute;
    background: #F1F3F5;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 297px 297px 297px 0px;
    width: 1006px;
    height: 594px;
    left: 0px;
    top: 281px;
}
.page-title__heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.page-title__text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.portfolio {
    margin-top: 150px;
    position: relative;
}

.portfolio  .row {
    display: grid;
}
.column{
   display: grid;
   gap:20px 15px;
}
.column:nth-child(1){
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.column:nth-child(2){
    grid-row: 1 / 2;
    grid-column: 2 / 3; 
}
.column:nth-child(3){
    grid-row: 1 / 2;
    grid-column: 3 / 4; 
}
.card__content:hover {
  background-color:#E7816B;
  color:#FFFFFF;
  cursor: pointer;
}/*
.card__image {}*/

.card__content {
    width: 350px; 
    background: #FDF3F0;
    margin-top: -6px;
    padding: 26px 0;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius:16px ;
    margin-bottom: 20px;
}

.card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #E7816B;
}
.card__title:hover{
    color:#FFFFFF;
}

.card__text {
    width: 70%;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin: 0 44px;
    color: #333136;
}
.card__text:hover{
    color:#FFFFFF; 
}
.services{
    margin-top: 100px;
    
}
.service {
    position: relative;
}

.service__image {
    margin: 0 10px;
}

.service__info {
    position: absolute;
    left: 29.39%;
    top: calc(50% - 48px/2 - 183px);
    text-transform: uppercase;
}

.service__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.service__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 9.36%;
    top: calc(50% - 48px/2 - -64px);
}
/*==========*/
.page-title_app-page-title{
    background-position: left;
}
.get-in {
    width: 85%;
    position: absolute;
    top: -232px;
    left: 100px;
}
.get-in-content {
   background-image: url(../img/Group\ 28\ \(1\).jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    padding: 50px 0;
}

.get-in-content .row {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.get-in-text {
    width: 60%;
}

.get-in-title {
    width: 42%;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.get-paragrah {
    width: 67%;
    text-align: left;
    color: #fff;
}
/*=========================
    footer
===========================*/
.footer {
    width: 100%;
}

.footer {
    background-color: #1D1C1E;
    padding: 100px 0px 0px 0px;
}
.footer-content{
    border-bottom: 2px solid grey;
    padding:0 0 30px 0;
}
.footer .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.foot-link {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s ease-in-out;
}
.desingo-contacts{
    padding: 20px 0;
}
.desingo-adress {
    width: 18%;
    color: #fff;
}

.footer-icons {
    margin-bottom: -48px;
}

.desingo-span {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: gray;
}

.big-footer {
    position: relative;
    margin-top: 267px;
}